.counter-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: auto;
	height: 200px;
	margin: 0px 100px;
}

.pinwheel-page {
	position: relative;
	height: 100vh;
}

.pinwheel-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	padding: 1rem;
	height: 900px;

	object-fit: scale-down;
	overflow: hidden;
}

.pinwheel-adjustment-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
}

.instructions {
	position: absolute;
}