.trace-letter-change-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	position: absolute;
	bottom: 0;
	width: 100%;

}

.trace-letter {
	position: absolute;
	width: 100%;
	height: 100%;

	& p {
		position: absolute;
		top: 50px;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 100px;
	}

	& h2 {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 100%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 700px;
	}
}

@media (max-width: 768px) {
	.trace-letter {
		& p {
			font-size: 50px;
		}

		& h2 {
			font-size: 350px;
		}
	}
}