:root {
	--color-primary: #000099;
	--color-secondary: #6c757d;
	--color-success: #28a745;
	--color-danger: #dc3545;
	--color-warning: #ffc107;
	--color-info: #17a2b8;
	--color-light: #f8f9fa;
	--color-dark: #343a40;
	--color-link: #7df9ff;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: white;
	background-color: black;

	& a {
		color: var(--color-link);
		text-decoration: none;
	}
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


header {
	background-color: var(--color-primary);
	color: var(--color-light);
	padding: 1rem;
	text-align: center;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;

	& h1 {
		margin-left: 20px;
		font-weight: 100;
	}

	& h2 {
		margin-right: 20px;
		font-weight: 400;
	}
}

.page {
	width: 100vw;
	height: 100vh;
	color: white;
}

.success-message {
	color: white;
	font-size: 60px;
	text-align: center;
	font-weight: bold;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

footer {
	background-color: var(--color-dark);
	color: var(--color-light);
	padding: 1rem;
	text-align: center;
	margin-top: auto;
	z-index: 50;
	height: 50px;
}